html, body {
    min-height: 100%;
}

body {
    background-image: url("/Letrados-main/imgs/plano\ de\ fundo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

label {
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

.titulo {
    display: flexbox;
    justify-content: center;

}

h1 {
    color: #2FDDC4;
    text-shadow: 5px 5px black;
    padding: 10px;
    font-size: 100px;
}


.feedback {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    font-size: 20px;
}

.green-bg {
    background-color: #27ae60;
    color: white;
}

.yellow-bg {
    background-color: #f1c40f;
    color: white;
}

.gray-bg {
    background-color: gray;
}

#tentativas, p {
    text-align: center;
}

#p-game {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

#tentativas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;
}

.tentativa {
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: calc(20% - 20px);
    box-sizing: border-box;
}

input.letra-input {
    justify-content: right;
    width: 30px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
}

button {
    background-color: #2FDDC4;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    border: solid 2px black;
    width: 100px;
}

#login-box, #signup-box {
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    background-color: #2FDDC4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 280px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input {
    background-color: rgb(224, 236, 235);
}

#a-login {
    display: flex;
    justify-content: right;
    text-decoration-line: none;
    color: black;
}

#menu {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: column;
    align-items: center;
}

#menu button {
    padding: 10px 20px;
    background-color: #2FDDC4;
    color: #000000;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border: solid 2px black;
    box-shadow: 3px 3px black;
}

#menu button:hover, #niveis button:hover {
    background-color: #ffffff;
}

#niveis button{
    width: 150px;
    height: 100px;
    background-color: #2FDDC4;
    color: #000000;
    font-size: 50px;
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 3px 3px black;
}
