html, body {
    min-height: 100%;
}

body {
    background-image: url("/pages/imgs/plano de fundo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
}

.titulo {
    display: inline-block;
}

h1 {
    background-color: #3498db;
    color: white;
    padding: 10px;
}

.tentativa {
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px auto;
    padding: 20px;
    width: 60%;
}

.feedback {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    font-size: 20px;
}

.green-bg {
    background-color: #27ae60;
    color: white;
}

.yellow-bg {
    background-color: #f1c40f;
    color: white;
}

.gray-bg {
    background-color: gray;
}

#tentativas, p {
    text-align: center;
}

input.letra-input {
    width: 30px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
}
